@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-family: "Roboto", sans-serif;
  background-color: #fff7ed;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.container h1 {
  font-size: 55px;
  color: #b6312a;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form input {
  height: 60px;
  width: 500px;
  padding: 10px;
  font-size: 29px;
  border-radius: 10px;
}

form button {
  margin-top: 20px;
  width: 200px;
  height: 50px;
  border: none;
  background-color: #b6312a;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}
